:root {
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  line-height: 1.5;

  /* Color variables */
  --clr-black: #1a1a1a;
  --clr-red: #ff735a;
  --clr-green: #64e864;
  --clr-blue: #8aa7ff;
  --clr-orange: #ffc850;
  --clr-dark-red: #ff3535;
}

* {
  margin: 0;
  padding: 0;
  transition: 500ms;
  cursor: default;
}

body {
  background-color: var(--clr-red);
  overflow: hidden;
}

/* Header style */
header {
  color: var(--clr-black);
  margin: 0 0 10px 0;
  padding: 5px 0;
  text-align: center;
}

/* Timer style */
.time-container {
  color: var(--clr-black);
  margin: 100px 0 0 0;
  font-size: 2em;
  text-align: center;
}

/* Button container style */
.button-container {
  margin: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-container button i {
  cursor: pointer;
}

/* Play button style */
.button-container #play-button {
  height: 80px;
  width: 80px;
  margin-left: 60px;
  padding-left: 5px;
  background-color: var(--clr-green);
  border: 5px solid var(--clr-black);
  border-radius: 50%;
}
#play-button i {
  color: var(--clr-black);
  scale: 1.3;
}
#play-button:hover, #pause-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px var(--clr-black);
  cursor: pointer;
}
#play-button:active, #pause-button:active {
  transform: translateY(-2px);
  box-shadow: 0 3px var(--clr-black);
  cursor: pointer;
  transition: 100ms;
}

/* Pause button style */
.button-container #pause-button {
  height: 80px;
  width: 80px;
  margin-left: 60px;
  background-color: var(--clr-blue);
  border: 5px solid var(--clr-black);
  border-radius: 50%;
  display: none;
}
#pause-button i {
  color: var(--clr-black);
  scale: 1.3;
}

/* Stop button style */
.button-container #stop-button {
  height: 55px;
  width: 55px;
  color: var(--clr-black);
  background-color: transparent;
  border: 4px solid var(--clr-black);
  border-radius: 50%;
  opacity: 0.7;
}
#stop-button:hover {
  opacity: 1;
  transform: translateY(-5px);
  box-shadow: 0 7px var(--clr-black);
  cursor: pointer;
}
#stop-button:active {
  transform: translateY(-2px);
  box-shadow: 0 3px var(--clr-black);
  cursor: pointer;
  transition: 100ms;
}

/* Selection timer styles */
.selection-container {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.selection-items {
  list-style: none;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.selection-items li {
  padding: 0 10px;
  border-radius: 15px;
}
.selection-items li:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.item-divider {
  height: 32px;
  border-left: 4px solid var(--clr-black);
}


@media screen and (min-width: 320px) {

  .time-container {
    font-size: 2.5em;
  }

  .selection-container {
    font-size: 1.4em;
  }
  .item-divider {
    margin-top: 5px;
  }
}

@media screen and (min-width: 768px) {

  header {
    font-size: 1.2em;
  }
  
  .time-container {
    font-size: 3.5em;
  }

  .button-container {
    scale: 1.5;
    margin-top: 175px;
  }

  .selection-container {
    font-size: 1.6em;
  }
  .item-divider {
    margin-top: 10px;
  }
}